dockepos
bin/*
img/*.img
app/*.o
app/*
!app/*.h
!app/*.cc
lib/*.o
lib/*.a
src/api/*.o
src/architecture/*.o
src/architecture/ia32/*.o
src/boot/*.o
src/boot/*.s
src/init/*.o
src/machine/common/*.o
src/machine/pc/*.o
src/network/*.o
src/network/ipv4/*.o
src/network/tstp/*.o
src/setup/*.o
src/system/*.o
src/utility/*.o